@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/*header*/

.bgg{
background: url("../image/R5.png") ;

}

@media (max-width: 600px){
    .bgg{
        background: url("../image/pg1.png") ;
    }
}
.bg-co{
    background-color:white;
    font-size: 20px;
}
.ft{
    font-family: 'cwTeXYen'!important;
    font-weight: 600;
  
}

.font-co{
    color: #6B4909;
    font-size: 20px;
    font-family: 'cwTeXYen'!important;
    font-weight: bolder;
}

a.font-co:hover , a.font-co:active{
   color: #362506;
   text-decoration:none;
}

.ft-bg{
    background-color: #C0A87A;
    border-radius:8px;
}


/*login*/

.button {
  background-color: white; /* Green */
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color:#6B4909; 
  border: 2px solid #C0A87A;
  border-radius:8px;
}

.button1:hover {
  background-color: #C0A87A;
  color: white;
}



/*content*/



blockquote {
  font-size: 2.5rem;
  pointer-events: none;
 
}

blockquote q {
  font-family:  'cwTeXYen'!important;
  color:#144c85;
  letter-spacing: .1rem;
}
blockquote q span { 
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}
q {
  quotes: "" "" "" "";
}
q:before {
    content: open-quote;
    margin-right: .8rem;
}
q:after {
  content: close-quote;
}
q:before, q:after {
  color: #ccc;
  font-size: 5rem;
}





/*000000000*/
.container0 {
  width:100%;
  height: 530px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;

}

.c1, .c2 {
  width: 100%;
  border:1px solid #000;
}



/* media query */


@media (min-width: 800px) {
  .c1 {
    width: 40%;
  }
  .c2 {
    width: 60%;
  }
}


/*biglogo*/
.bgpic1{
display:flex;


}
.bgpic{
    background-image: url('../image/back.png');
    background-size:100% 530px ;
    z-index: -10;
    
}
.biglogo{
   margin-top: 9%;
   margin-left: 50%;
   width:200px;
   height: 350px;

}
.resize{
    font-size: 45px;
    margin-left: 16%;
    margin-top: 27%;
    color:#644d1f;
    line-height:0px;
}

.miss{
    
   
}

.wordsize{
     margin-left: 10%;

    }


@media (max-width: 600px) {

  .biglogo{
   margin-top:5%;
   margin-left:25%;

    }
    .size{
        width:170px;
        height: 300px;
    } 
    .miss{
        margin-top: 0%;
        margin-left: 0%;
        text-align: center;
    }
     .resize{
        font-size: 25px;
        margin-left: 17%;
       margin-top: 0%;

    }
   
    .wordsize{

       margin-left:0%;
        font-size:26px ;


    }
    .bgpic{
        background-image:url('../image/sback.png') ;
        background-size:100% 100%;
        z-index: -10;
        
    }
   


}





/*----------登入start-------------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

@media (max-width: 600px) {
  .modal-content1{
    width: 90%;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*-----------登入end-------------*/


.signform{
  width: 30%;
  margin: 13% 10%;
-webkit-box-shadow: 0 0 12px  #D4D4D4;
            -moz-box-shadow: 0 0 12px  #D4D4D4;
             box-shadow: 0 0 15px 1px #D4D4D4;
    position: absolute;

}

.loginform{
  width: 30%;
  margin: 15% 63%;
   -webkit-box-shadow: 0 0 12px  #D4D4D4;
            -moz-box-shadow: 0 0 12px  #D4D4D4;
             box-shadow: 0 0 15px 1px #D4D4D4;
    position: absolute;

}





@media (max-width: 600px) {
  .signform{
    width: 80%;
    margin: 36% 10%;

  }
   .loginform{
    width: 80%;
    margin: 36% 10%;

  }

}


.form-horizontal{
    background-color: #fff;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    padding: 60px 50px 30px;

    
}


 
.form-horizontal .heading{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 50px 0;
}
 
.form-horizontal .form-group{
    margin: 0 auto 10px;
    position: relative;
    
}
 
.form-horizontal .form-group:nth-last-child(2){ margin-bottom: 20px; }
 
.form-horizontal .form-group:last-child{ margin: 0; }
 
.form-horizontal .form-group>i{
    color: #999;
    transform: translateY(-50%);
    position: absolute;
    left: 5px;
    top: 50%;
}
 
.form-horizontal .form-control{
    color: #7AB6B6;
    background-color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    height: 40px;
    padding: 5px 10px 2px 25px;
    box-shadow: 0 0 0 0 transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    display: inline-block;
}
 

@media (max-width: 600px) {
 
  .form-horizontal .form-control{

    padding: 0px 0px 0px 0px;
    }

}


.form-control::placeholder{
    color: rgba(0,0,0,0.2);
    font-size: 16px;
}
@media (max-width: 600px) {
  .form-control::placeholder{
    font-size: 10px;
}
}
 
.form-horizontal .form-control:focus{
    border-bottom: 1px solid #7AB6B6;
    box-shadow: none;
}
 
.form-horizontal .btn{
    color: #7AB6B6;
    background-color: #EDF6F5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 50%;
    height: 45px;
    padding: 7px 30px;
    margin: 0 auto 25px;
    border: none;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
 
.form-horizontal .btn:focus,
.form-horizontal .btn:hover{
    color: #fff;
    background-color: #7AB6B6;
}
 
.form-horizontal .btn:before,
.form-horizontal .btn:after{
    content: '';
    background-color: #7AB6B6;
    height: 50%;
    width: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s;
}
 
.form-horizontal .btn:after{
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
}
 
.form-horizontal .btn:hover:before,
.form-horizontal .btn:hover:after{
    height: 70%;
    width: 50%;
    opacity: 0;
}
 
.form-horizontal .create_account{
    color: #D6BC8B;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}
 
.form-horizontal .create_account:hover{
    color: #7AB6B6;
    text-decoration: none;
}


.drawman{
  z-index: -50;
position: absolute;
     top: 10%;
    right: 3%;


}

.g{
  z-index: -50;
position: absolute;
     top: 10%;
    left: 5%;
}


.dot{
    z-index: -49;
position: absolute;
   display:none;
    
}

@media (max-width: 600px){

.drawman{
  display:none;
  }
.g{
  display:none;
  }


  .dot{
   display:block;
  }

  }


.aaa{

}

@media (max-width: 600px){
    .aaa{
        background-color:white ;
    }
}